.header__lang-link {
  color: #fff;
  opacity: 1;
  transition-duration: .4s;
  font-size: 24px;
  line-height: 1.2;
}

.header__lang-link:hover {
  opacity: .6;
}

.header__lang-link:last-child {
  margin-left: 18px;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}
