.header {
  margin: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    margin: 0 16px;
  }
}
