.lead__title {
  font-size: 96px;
  line-height: 1.04;
  max-width: 720px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 735px) {
  .lead__title {
    font-size: 70px;
    line-height: 1;
    max-width: 520px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 320px;
  }
}
