.footer__copyright {
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
}

@media screen and (max-width: 735px) {
    .footer__copyright {
        padding-top: 35px;
    }
} 

@media screen and (max-width: 540px) {
    .footer__copyright {
        padding-top: 16px;
    }
} 