.lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    max-width: 540px;  
    text-align: center;
    margin: 32px auto 0;
}

@media screen and (max-width: 730px) {
    .lead__subtitle {
        font-size: 23px;
        max-width: 440px;  
    }
} 

@media screen and (max-width: 550px) {
    .lead__subtitle {
        font-size: 16px;
        max-width: 280px; 
        margin: 18px auto 0; 
    }
} 