.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 735px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    margin: 0 16px;
    align-items: flex-start;
  }
}
