.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.05;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        font-weight: 700;
        line-height: 1;
    }
} 

@media screen and (max-width: 550px) {
    .intro__title {
        max-width: 200px;
        font-size: 32px;
        line-height: 1.09;
    }
} 
